* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

select,
input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

select {
  appearance: none;
}

.field-container {
  display: flex;
  max-width: 500px;
  align-items: center;
  margin: 5px 0;
}

.field-container * {
  flex: 1;
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

form.item-details-form label {
  display: flex;
  flex-direction: column;
  flex: 1;
}

button.primary {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  height: 35px;
  margin: 5px 0;
}

button.danger {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  height: 35px;
  margin: 5px 0;
}

.btn-group {
  display: flex;
  gap: 10px;
  max-width: 400px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  display: block;
  overflow-x: auto;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

@media print {
  .no-print {
    display: none;
  }
}
